
.chart{
    display: flex;
    margin: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 1px #202026;
    box-shadow: 2px 2px 5px 1px #202026;
}

.chartWidgets{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chartContainer{
    flex: 1;
    align-content: space-between;
}
