@import "../../../scss/common.scss";

.entityManage{
    flex:1;
}

.entityManage_wrap{
    display: flex;
}

.entityManage_wrap_left{
    flex: 1;
    margin-right: 10px;
}

.entityManage_wrap_right{
    margin : 0px 0px;
}
