.user{
    flex:4;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userShow{
    flex: 1;
    background-color: #202026;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 5px 1px #202026;
    box-shadow: 1px 1px 3px 1px #202026;
    
    margin : 5px 5px;
    padding: 15px;
    border-radius: 5px;
}

.userUpdate{
    flex: 2;
    background-color: #202026;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 5px 1px #202026;
    box-shadow: 1px 1px 3px 1px #202026;
    
    margin : 5px 5px;
    padding: 15px;
}

.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width:40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(179,175,175);
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 20px;
    color: rgb(97,96,96);

}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateItem > label{
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput{
    border: none;
    width: 300px;
    height: 30px;
    border-bottom: 1px solid grey;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.userUpdateUpload{
    display: flex;
    align-items: center;
}

.userUpdateButton{
    border-radius: 50px;
    border: none;
    padding: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}